<div id="background0" class="backgroundsetting_lifemenu">
     
<a href="life_display.php?c1id=1"id="food" class="imgfood"></a>
<a href="life_display.php?c1id=2"id="live" class="imglive"></a>
<a href="life_display.php?c1id=3"id="transport" class="imgtransport"></a>
<a href="life_display.php?c1id=4"id="health" class="imghealth"></a>
<a href="life_display.php?c1id=5"id="life" class="imglife"></a>
<a href="life_display.php?c1id=6"id="sport" class="imgsport"></a>
<a href="life_display.php?c1id=7"id="outdoor" class="imgoutdoor"></a>

</div>




