div.register_main{
	background: url('images/register_background.png');
	width: 640px;
	height: 600px;
}

div#pet_select {
	float:left;
	width:150px;
	height:180px;
	position: relative;
	top: 55px;
	left: 45px;
	text-align: center;
}

div#pet_select div.pet_pic{
	background: url('../../module/pet_game/templates/zh_tw/images/pets/120/default.png');
	width: 120px;
	height: 120px;
	clear: both;
	margin: 0 auto;
}

div#register_form {
	line-height: 26px;
	float: right;
	width: 390px;
	margin: 20px auto
}

div#register_form label {
	display: inline-block;
	width: 96px;
	text-align: left;
	vertical-align: top;
}
div#register_form textarea {
	height: 100px;
	width: 270px;
	margin: 10px 0 0;
}
div#register_form input#open, input#close {
	width: 20px;
}
div#register_form span.warning {
	color: red;
	font-weight: bold;
	margin-left: -10px;
}

div#register_form span#must_fill {
	font-size: 20px;
}
input#register_button {
	background: url('images/register_submit.png') no-repeat;
	border: none;
	width: 78px;
	height: 29px;
	margin: 0 0 0 100px;
	cursor: pointer;
}
input#reset_button {
	background: url('images/register_reset.png') no-repeat;
	border: none;
	width: 78px;
	height: 29px;
	margin: 0 0 0 20px;
	cursor: pointer;
}

/* simple css-based tooltip */
.tooltip {
	background-color:#000;
	border:1px solid #fff;
	padding:10px 15px;
	width:200px;
	display:none;
	color:#fff;
	text-align:left;
	font-size:12px;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}
#ui-datepicker-div {
	font-size: 12px;
}

