<div id="contents2">
    <div class="header"></div>
    <div class="mid">
        <div id="breadcrumbs"><a href="index.php">論壇專區</a></div>

        <table id="forums">
            <tbody>
                <tr>
                    <td><a href="threads.php?fid=2"><img src="templates/zh_tw/images/forums/forums_01.png" alt="綜合討論"></a></td>
                    <td><a href="forums.php?fid=5"><img src="templates/zh_tw/images/forums/forums_02.png" alt="系所討論"></a></td>
                </tr>
                <tr>
                    <td><a href="threads.php?fid=3"><img src="templates/zh_tw/images/forums/forums_03.png" alt="社團討論"></a></td>
                    <td><a href="threads.php?fid=4"><img src="templates/zh_tw/images/forums/forums_04.png" alt="精華討論"></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="footer"></div>
</div>
