div#map_module_main {
	background-image: url("images/map_bg.png");
	margin: 0 auto;
	width: 650px;
	height: 600px;
}

div#box {
	background: url("images/window/window.png") no-repeat;
	margin: 40px 40px;
	float: left;
	width: 570px;
	height: 469px;
	position: absolute;
	z-index: 100;
}


div.text {
	margin: 40px 20px;
	width: 526px;
	height: 353px;
	overflow-x: hidden;
	overflow-y: auto;
	word-wrap: break-word;
}
div.text p {
	margin: 8px 0;
	font-size: 15px;
	line-height:18px;
}
div.text img {
	width: 230px;
	height: 173px;
	margin: 8px;
}
div.text img.port {
	width: 173px;
	height: 230px;
	margin: 8px;
}
div.text table, tr, td {
	border: 1px solid #666;
}