<div id="map_module_main">
	<a id="v01" class="show" onClick="showcontent(81);return false;" href="view_nojs.php?id=81"></a>
	<a id="v02" class="show" onClick="showcontent(77);return false;" href="view_nojs.php?id=77"></a>
	<a id="v03" class="show" onClick="showcontent(72);return false;" href="view_nojs.php?id=72"></a>
	<a id="v04" class="show" onClick="showcontent(76);return false;" href="view_nojs.php?id=76"></a>
	<a id="v05" class="show" onClick="showcontent(73);return false;" href="view_nojs.php?id=73"></a>
	<a id="v06" class="show" onClick="showcontent(39);return false;" href="view_nojs.php?id=39" onmouseout="undochange();" onmouseover="change();"></a>
	<a id="v07" class="show" onClick="showcontent(38);return false;" href="view_nojs.php?id=38" onmouseout="undochange();" onmouseover="change();"></a>
	<a id="v08" class="show" onClick="showcontent(40);return false;" href="view_nojs.php?id=40" onmouseout="undochange();" onmouseover="change();"></a>
	<a id="v09" class="show" onClick="showcontent(79);return false;" href="view_nojs.php?id=79"></a>
	<a id="v10" class="show" onClick="showcontent(41);return false;" href="view_nojs.php?id=41"></a>
	<a id="v11" class="show" onClick="showcontent(75);return false;" href="view_nojs.php?id=75"></a>
	<a id="v12" class="show" onClick="showcontent(74);return false;" href="view_nojs.php?id=74"></a>
	<a id="v13" class="show" onClick="showcontent(2);return false;" href="view_nojs.php?id=2" onmouseout="undochangeart();" onmouseover="changeart();"></a>
	<a id="v14" class="show" onClick="showcontent(1);return false;" href="view_nojs.php?id=1" onmouseout="undochangeart();" onmouseover="changeart();"></a>
	<a id="v15" class="show" onClick="showcontent(3);return false;" href="view_nojs.php?id=3" onmouseout="undochangeart();" onmouseover="changeart();"></a>
	<a id="v16" class="show" onClick="showcontent(4);return false;" href="view_nojs.php?id=4" onmouseout="undochangeart();" onmouseover="changeart();"></a>
	<a id="v17" class="show" onClick="showcontent(80);return false;" href="view_nojs.php?id=80" ></a>
	
	<div id="box">
		<div id="content"></div>
	</div>
</div>