<div id="about_us">
	<div id="about_upper"></div>
	<div id="about_middle">
		<img src="templates/zh_tw/images/about_us.png" alt="關於我們" />
		<p>　　嗨！各位新生你們好！求學的新階段總是令人興奮，特別是從高中解脫的你們，對於新生活總是既期待又怕受傷害。身為學長姐的我們，曾經也走過這段，心情也正是如此，像個無頭蒼蠅毫無目的，正是聽到你們的呼叫，化身為「大一生活知訊網」，成為你們的校園網路導覽員！</p><p>　　一年又一年的經驗傳承及追求創新，知訊網的進步、所有的付出，都是為了讓新鮮人，帶著期待、愉快的心情來迎接大學生活，並能夠對校園周遭的環境及資源有初步的認識，甚至是提早認識新朋友！有關宿舍、生活、註冊...所有的一切，都可以透過知訊網來得知。</p><p>　　除了我們所提供的，當然還有許多神秘未知的問題，我們另外設置了屬於各系及社團的論壇專區，讓大家能跟系上同學、學長姐彼此交流，不錯過任何即時訊息，更深入地瞭解中大的一切！</p><p>　　非常感謝新鮮人們使用「2011大一生活知訊網」，在十月我們將完成團隊的使命，就是帶領各位進入中大校園。在十月之後，我們團隊將會傳承給下一代的你們，讓知訊網能夠薪火相傳。如果你有感受到知訊網的用心，願意為下一屆的學弟妹們盡一份心力，並且對知訊網有很多想法及熱情，歡迎你們加入，「2012大一生活知訊網」需要你唷！</p>
		<a href="templates/zh_tw/images/fresh2011.jpg" title="團隊成員大合照" ><img id="about_us_pic" src="templates/zh_tw/images/fresh2011.jpg" alt="大合照" /></a>
		<img src="templates/zh_tw/images/members.png" alt="團隊成員" />
		<table border="0"> 
		<tbody>
			<tr> 
				<td colspan="6"><h3>執行組</h3></td> 
			</tr> 
			<tr> 
				<td class="aboutus_title">執行長</td>
				<td class="aboutus_content">資工3A</td> 
				<td class="aboutus_content">陳忠晟</td>
				<td class="aboutus_title">副執行長</td> 
				<td class="aboutus_content">資工3A</td> 
				<td class="aboutus_content">張菀倫</td> 
			</tr> 
			<tr> 
				<td colspan="6"><h3>程式組</h3></td> 
			</tr> 
			<tr> 
				<td class="aboutus_title">組長</td> 
				<td class="aboutus_content">資工3A</td> 
				<td class="aboutus_content">陳大慶</td>

				<td class="aboutus_title">副組長</td>
				<td class="aboutus_content">資管3A</td> 
				<td class="aboutus_content">蔡維泰</td> 
			</tr> 
			<tr> 
				<td class="aboutus_title">組員</td> 
				<td class="aboutus_content">資工3A</td> 
				<td class="aboutus_content">魏秀龍</td>
				<td class="aboutus_title">組員</td>
				<td class="aboutus_content">資工2A</td> 
				<td class="aboutus_content">謝松庭</td> 
			</tr> 
			<tr> 
				<td class="aboutus_title">組員</td>
				<td class="aboutus_content">資工2B</td> 
				<td class="aboutus_content">賴郁婷</td>
				<td class="aboutus_title">組員</td> 
				<td class="aboutus_content">資工2A</td> 
				<td class="aboutus_content">楊梓豪</td> 
			</tr> 
			<tr> 
				<td class="aboutus_title">組員</td> 
				<td class="aboutus_content">資工2A</td> 
				<td class="aboutus_content">蔡志豪</td> 
				<td class="aboutus_title">組員</td> 
				<td class="aboutus_content">資工2A</td> 
				<td class="aboutus_content">呂功璿</td> 
			</tr> 
			<tr> 
				<td colspan="6"><h3>美工組</h3></td> 
			</tr> 
			<tr> 
				<td class="aboutus_title">組長</td> 
				<td class="aboutus_content">資工3B</td> 
				<td class="aboutus_content">劉孟蓁</td>

				<td class="aboutus_title">副組長</td>
				<td class="aboutus_content">資工3B</td>
				<td class="aboutus_content">黃建勳</td> 
			</tr> 
			<tr> 
				<td class="aboutus_title">組員</td> 
				<td class="aboutus_content">資工3B</td> 
				<td class="aboutus_content">陳致諺</td> 
				<td class="aboutus_title">組員</td> 
				<td class="aboutus_content">資工2A</td> 
				<td class="aboutus_content">黃筱萍</td> 
			</tr> 
			<tr> 
                <td class="aboutus_title">組員</td> 
                <td class="aboutus_content">中文2</td> 
                <td class="aboutus_content">凃慈甜</td> 
                <td class="aboutus_title">組員</td> 
                <td class="aboutus_content">資工2A</td> 
                <td class="aboutus_content">王儀靜</td> 
            </tr> 
	 		<tr> 
                <td class="aboutus_title">組員</td> 
                <td class="aboutus_content">資工2B</td> 
                <td class="aboutus_content">黃千鳳</td>
                <td class="aboutus_title"> </td>
                <td class="aboutus_content"> </td>
                <td class="aboutus_content"> </td> 
			</tr>
            <tr> 
                <td colspan="6"><h3>企劃組</h3></td> 
			</tr>  
			<tr> 
                <td class="aboutus_title">組長</td> 
                <td class="aboutus_content">資工3B</td> 
                <td class="aboutus_content">林佑柔</td> 
                <td class="aboutus_title">副組長</td> 
                <td class="aboutus_content">資工3A </td> 
                <td class="aboutus_content">楊佳蓉</td> 
            </tr> 
			<tr> 
                <td class="aboutus_title">組員</td> 
                <td class="aboutus_content">資管2A</td> 
                <td class="aboutus_content">李立晟</td>

                <td class="aboutus_title">組員</td> 
                <td class="aboutus_content">電機2A</td> 
                <td class="aboutus_content">賴俊穎</td>
			</tr> 
			<tr> 
                <td class="aboutus_title">組員</td> 
                <td class="aboutus_content">資工2A</td> 
                <td class="aboutus_content">王菩生</td> 
                <td class="aboutus_title">組員</td> 
                <td class="aboutus_content">資工2B</td> 
                <td class="aboutus_content">林佳蓁</td> 
            </tr> 
			<tr> 
                <td class="aboutus_title">組員</td> 
                <td class="aboutus_content">資工2A</td> 
                <td class="aboutus_content">黃柏暟</td> 
                <td class="aboutus_title">&nbsp;</td> 
                <td class="aboutus_content">&nbsp;</td> 
                <td class="aboutus_content">&nbsp;</td>  
            </tr>
            <tr> 
                <td colspan="6"><h3>影音組</h3></td> 
			</tr> 
			<tr> 
                <td class="aboutus_title">組長</td> 
                <td class="aboutus_content">資工3A</td> 
                <td class="aboutus_content">許貴松</td> 
                <td class="aboutus_title">副組長 </td> 
                <td class="aboutus_content">資工3A </td> 
                <td class="aboutus_content">李明遠</td> 
			</tr> 
			<tr> 
                <td class="aboutus_title">組員</td> 
                <td class="aboutus_content">資管2B</td> 
                <td class="aboutus_content">賀靖雅</td>

                <td class="aboutus_title">組員</td> 
                <td class="aboutus_content">資管2B</td> 
                <td class="aboutus_content">李士暄</td> 
			</tr> 
			<tr> 
                <td class="aboutus_title">組員</td> 
                <td class="aboutus_content">資工2A</td> 
                <td class="aboutus_content">陳佑昇</td> 
                <td class="aboutus_title">組員</td> 
                <td class="aboutus_content">資工2B</td> 
                <td class="aboutus_content">蘇致維</td> 
            </tr> 
			<tr> 
                <td class="aboutus_title">組員</td> 
                <td class="aboutus_content">資工2B</td> 
                <td class="aboutus_content">李建瑩</td>

                <td class="aboutus_title">組員</td> 
                <td class="aboutus_content">資工2A</td> 
                <td class="aboutus_content">盧婉芳</td>
			</tr> 
        </tbody> 
    </table> 
	</div>
	<div id="about_footer"></div>
</div>