<div class="new_module_main">
	<div id="category_main">
		<div id="leisure_top">
			<div class="piece">
				<a href="index.php"><font color="#2843a3"><b>系所社團</b></font></a>
				<font color="#2843a3"><b> > </b></font>
				<a href="club_leisure.php"><font color="#2843a3"><b>康樂性社團</b></font></a>
			</div>
		</div>
		<div id="leisure_center">
			<div class="le1">
				‧<a href="list.php?c_id=41">國樂社</a><br/>
				‧<a href="list.php?c_id=43">吉他社</a><br/>
				‧<a href="list.php?c_id=44">鋼琴社</a><br/>
				‧<a href="list.php?c_id=45">管樂社</a><br/>
				‧<a href="list.php?c_id=48">象棋社</a><br/>
				‧<a href="list.php?c_id=49">足球社</a><br/>
				‧<a href="list.php?c_id=50">網球社</a><br/>
				‧<a href="list.php?c_id=51">太極社</a><br/>
			</div>
			<div class="le2">
				‧<a href="list.php?c_id=52">國術社</a><br/>
				‧<a href="list.php?c_id=53">登山社</a><br/>
				‧<a href="list.php?c_id=56">劍道社</a><br/>
				‧<a href="list.php?c_id=63">柔道社</a><br/>
				‧<a href="list.php?c_id=65">魔術社</a><br/>
				‧<a href="list.php?c_id=40">圍棋社</a><br/>
				‧<a href="list.php?c_id=39">羽球社</a><br/>
				‧<a href="list.php?c_id=106">雜技社</a><br/>
			</div>
			<div class="le3">
				‧<a href="list.php?c_id=54">自由車社</a><br/>
				‧<a href="list.php?c_id=57">合氣道社</a><br/>
				‧<a href="list.php?c_id=38">跆拳道社</a><br/>
				‧<a href="list.php?c_id=37">空手道社</a><br/>
				‧<a href="list.php?c_id=42">松韻口琴社</a><br/>
				‧<a href="list.php?c_id=47">熱門音樂社</a><br/>
				‧<a href="list.php?c_id=55">熱門舞蹈社</a><br/>
				‧<a href="list.php?c_id=114">音樂同好社</a><br/>
			</div>
			<div class="le4">
				‧<a href="list.php?c_id=116">魔術方塊社</a><br/>
				‧<a href="list.php?c_id=107">現代舞蹈社</a><br/>
				‧<a href="list.php?c_id=117">籃球聯盟社</a><br/>
				‧<a href="list.php?c_id=66">街頭地板舞蹈社</a><br/>
				‧<a href="list.php?c_id=64">大腳ㄚ康輔工作坊</a><br/>
				‧<a href="list.php?c_id=115">中央松濤壘球聯盟</a><br/>
				‧<a href="list.php?c_id=46">中央國際標準舞蹈社</a><br/>
			</div>
			<br class="clear"/>
		</div>
		<div id="leisure_bottom">
		</div>
	</div>
</div>