<div class="new_module_main">
	<div id="category_main">
		<div id="academic_top">
			<div class="piece">
				<a href="index.php"><font color="#1f6064"><b>系所社團</b></font></a>
				<font color="#1f6064"><b> > </b></font>
				<a href="club_academic.php"><font color="#1f6064"><b>學術性社團</b></font></a>
			</div>
		</div>
		<div id="academic_center">
			<div class="ac1">
				‧<a href="list.php?c_id=1">演辯社</a><br/>
				‧<a href="list.php?c_id=2">美術社</a><br/>
				‧<a href="list.php?c_id=3">動畫社</a><br/>
				‧<a href="list.php?c_id=4">中醫社</a><br/>
				‧<a href="list.php?c_id=5">天文社</a><br/>
				‧<a href="list.php?c_id=9">禪學社</a><br/>
				‧<a href="list.php?c_id=10">戲劇社</a><br/>
				‧<a href="list.php?c_id=11">攝影社</a><br/>

			</div>
			<div class="ac2">
				‧<a href="list.php?c_id=12">手語社</a><br/>
				‧<a href="list.php?c_id=98">橋藝社</a><br/>
				‧<a href="list.php?c_id=7">法輪功社</a><br/>
				‧<a href="list.php?c_id=6">覺聲佛學社</a><br/>
				‧<a href="list.php?c_id=13">中央青年社</a><br/>
				‧<a href="list.php?c_id=97">機車研究社</a><br/>
				‧<a href="list.php?c_id=59">如來實證社</a><br/>
			</div>
			<div class="ac3">
				‧<a href="list.php?c_id=60">福智青年社</a><br/>
				‧<a href="list.php?c_id=14">證券研究社</a><br/>
				‧<a href="list.php?c_id=67">布袋戲研習社</a><br/>
				‧<a href="list.php?c_id=113">ERP顧問研習社</a><br/>
				‧<a href="list.php?c_id=99">聖經真理研究社</a><br/>
				‧<a href="list.php?c_id=58">四輪動力研究社</a><br/>
				‧<a href="list.php?c_id=8">酷兒文化與女性研究社</a><br/>
			</div>
		</div>
		<div id="academic_bottom">
		</div>
	</div>
</div>