<div class="new_module_main">
	<div id="category_main">
		<div id="friendship_top">
			<div class="piece">
				<a href="index.php"><font color="#542564"><b>系所社團</b></font></a>
				<font color="#542564"><b> > </b></font>
				<a href="club_friendship.php"><font color="#542564"><b>聯誼性社團</b></font></a>
			</div>
		</div>
		<div id="friendship_center">
			<div class="fr1">
				‧<a href="list.php?c_id=16">美食社</a><br/>
				‧<a href="list.php?c_id=17">附中山</a><br/>
				‧<a href="list.php?c_id=19">雄友會</a><br/>
				‧<a href="list.php?c_id=20">咖啡社</a><br/>
				‧<a href="list.php?c_id=21">嘉友會</a><br/>
				‧<a href="list.php?c_id=22">雲友會</a><br/>
				
			</div>
			<div class="fr2">
				‧<a href="list.php?c_id=26">轉聯會</a><br/>
				‧<a href="list.php?c_id=27">武友會</a><br/>
				‧<a href="list.php?c_id=28">南友會</a><br/>
				‧<a href="list.php?c_id=29">成景會</a><br/>
				‧<a href="list.php?c_id=30">竹友會</a><br/>
				‧<a href="list.php?c_id=31">興友會</a><br/>
			</div>
			<div class="fr3">
				‧<a href="list.php?c_id=32">松友會</a><br/>
				‧<a href="list.php?c_id=62">花友會</a><br/>
				‧<a href="list.php?c_id=23">彰友會</a><br/>
				‧<a href="list.php?c_id=109">信心之家</a><br/>
				‧<a href="list.php?c_id=18">延平校友會</a><br/>
				‧<a href="list.php?c_id=24">蘭陽校友會</a><br/>
			</div>
			<div class="fr4">
				‧<a href="list.php?c_id=25">僑生聯誼社</a><br/>
				‧<a href="list.php?c_id=61">港澳同學會</a><br/>
				‧<a href="list.php?c_id=34">金門地區校友會</a><br/>
				‧<a href="list.php?c_id=33">建中北一女校友會</a><br/>
				‧<a href="list.php?c_id=36">台中南投地區校友會</a><br/>
				‧<a href="list.php?c_id=35">大基隆地區聯合校友會</a><br/>
			</div>
			<div class="fr5">
				‧<a href="list.php?c_id=111">International Student Association</a><br/>
			</div>
		</div>
		<div id="friendship_bottom">
		</div>
	</div>
</div>