<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js" type="text/javascript"></script>
<script>
	$(document).ready(function(){
		var h = eval($("#background_middle_pos").css('height').toString().replace('px', ''));
		$("#background_middle_pos").css('height', Math.ceil(h/210+1) * 210);
		
		
		
							$('unfinished_c').click(function() {
						    

								alert("你已完成此事件，如果是誤點，請之後再按取消完成鍵即可")

							});
		
					/*$('unfinished_c').click(function() {
						    
							$.get($(this).attr('href'), function(response){
								$('unfinished_c').hide();
								alert(<{$ifcheck}>)
								alert('You finished!!')
							});
							/*
							$.ajax({
							
								  type: "POST",
								  url: "update.php",
								  data: {send_eveid=<{$getcon}>},
								  success: function(){
									alert( "it works !!" );
								  }
								});
							
	                         */
							
							return false;
					});
	});
</script>



			<a id="index0_active_pos" class="index0" href="schedule_menu.php"></a>
			<a id="index1_pos" class="index1" href="menu.php?cid=1"></a>
			<a id="index2_pos" class="index2" href="menu.php?cid=2"></a>
			<a id="index3_pos" class="index3" href="menu.php?cid=3"></a>
			<a id="index4_pos" class="index4" href="menu.php?cid=4"></a>   
			
			
		        <div id="background_up_pos" class="background_up">
				        <div id="title_pos"  class="Title">
														<{section name=foo loop=$array_2D}>
														
																	<{$array_2D[foo].content_name}>
														<{/section}>
						
						</div>
						<div  id="type_pos" class="Type"><{$type}></div>
				
						<{if $ifcheck==0}>
				
								
								<a  id="unfinished_pos" class="unfinished_c" href="update.php?send_eveid=<{$getcon}>"></a><!--   更新頁面+修改資料庫按鈕    -->
						<{else}>
						        <{if $ifcheck==1}>
						        <a  id="undo_pos" class="undo_c" href="delete.php?send_eveid=<{$getcon}>"></a>
								<{/if}>
						<{/if}>	
				
				</div>
						
					
				
							<div id="background_middle_pos" class="background_middle">
												
										<div id="content_content_pos"class="content_content">

														<{section name=foo loop=$array_2D}>
														
																	<{$array_2D[foo].content}>
														<{/section}>
														
													<div style="clear:both"></div>
										
										</div>		   
				

									  
							</div>

		        <div id="bg_bottom_pos1" class="BG_bottom">
							<div  id="bg_bottomimg_pos" class="BG_bottomimg">
							</div>				
			
				</div>
